Source: debian-dde-wallpapers-nonfree
Section: utils
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>, Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>=9), dde-api
Standards-Version: 3.9.6
Homepage: https://www.deepin.org/
#Vcs-Git: git://anonscm.debian.org/collab-maint/debian-dde-wallpapers-nonfree.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/debian-dde-wallpapers-nonfree.git

Package: debian-dde-wallpapers-nonfree
Architecture: all
Pre-Depends: debian-dde-wallpapers (>= 1.7.14)
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides:
 deepin-community-wallpapers,
 deepin-wallpapers-nonfree,
Conflicts:
 deepin-community-wallpapers,
 deepin-wallpapers-nonfree,
Breaks: deepin-desktop-base (<< 2017.11.2),
 deepin-community-wallpapers,
 deepin-wallpapers-nonfree,
Description: When users are ready to set their own desktop background,
 Deepin Wallpaper provides many beautiful background pictures for users to choose.
 It is part of Deepin software and DDE (Deepin Desktop Environment).

